@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-in-out;
}
.space {
  display: flex;
  flex-direction: column;
}
html {
  background-color: white;
  height: 100vh;
}
.nav-bar {
  background-color: white;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.lo {
  font-weight: 600;
  font-size: 20px;
}
.nav ul {
  list-style: none;
  margin-right: 20px;
}
ul li {
  display: inline-block;
  padding: 5px 10px;
}

.nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(77, 77, 77);
}
a:visited {
  color: rgb(71, 71, 71);
}
a:active {
  color: black;
}
.resmenu img {
  width: 75%;
  height: 75%;
}
.showcase {
  position: relative;
  padding-top: 10px;
  display: flex;
  height: 400px;
  border-radius: 10px;
}
.upper h2 {
  width: 80%;
}
.upper .in {
  width: 90%;
}
.lower {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 10px;
}
.lower button,
.nav button {
  margin-left: 10px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: 600;
}
.lower a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.lower img {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.infoo {
  background-image: linear-gradient(
    125deg,
    hsl(0deg 0% 87%) 0%,
    hsl(195deg 18% 84%) 3%,
    hsl(195deg 31% 81%) 11%,
    hsl(194deg 40% 78%) 25%,
    hsl(194deg 47% 74%) 43%,
    hsl(194deg 53% 71%) 63%,
    hsl(193deg 58% 67%) 79%,
    hsl(193deg 62% 62%) 91%,
    hsl(192deg 67% 56%) 98%,
    hsl(189deg 100% 43%) 100%
  );
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: 60%;
}

.info {
  background: rgba(255, 255, 255, 0.3);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  padding: 20px;
  height: 100%;
}
.pic {
  background: url("pro.gif");
  width: 40%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  margin-right: 25px;
}
.projects {
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;

  height: 350px;
  border-radius: 10px;
}
.pro11,
.pro22,
.pro33 {
  width: 29%;
  border-radius: 10px;
  margin: 10px 5px;
  height: 100%;
}
.projects div .header {
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: 25px;
}

.projects div .visitwebsite img {
  border-radius: 50%;
  background-color: white;
  transform: scale(0.9);
}
.projects div .visitwebsite img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.projects .pro11 {
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  width: 100%;
}
.pro1,
.pro2,
.pro3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.projects .pro22 {
  background-image: linear-gradient(
    135deg,
    hsl(202deg 83% 39%) 0%,
    hsl(171deg 100% 37%) 37%,
    hsl(55deg 100% 46%) 100%
  );
  width: 100%;
}

.projects .pro33 {
  background-image: linear-gradient(
    130deg,
    hsl(0deg 100% 45%) 0%,
    hsl(33deg 100% 49%) 50%,
    hsl(52deg 100% 57%) 100%
  );
  width: 100%;
}

.resmenu {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .showcase {
    border-radius: 10px;
    margin-right: 10px;
    height: 300px;
  }
  .upper h2 {
    width: 90%;
  }
  .upper .in {
    width: 90%;
  }
  .lower {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .lower button {
    margin: 0;
  }
  .lower a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  .lower img {
    padding: 5px;
    width: 30px;
    height: 30px;
  }
  .infoo {
    margin-left: 20px;
    width: 100%;
    height: 100%;
  }
  .info {
    width: 100%;
    height: 100%;
  }
  .pic {
    display: none;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  .upper h2 {
    font-size: 20px;
    width: 100%;
  }
  /* this is project section */
}
